*.pyc

*.o
*.so
*.dll
*.project
*.cubin
*.pydevproject

.pytest_cache
__pycache__/

*.DS_Store
.idea

weights/
trials/
archive/
tomo_data/
logs/
plots/
hparam_dicts/
.ipynb_checkpoints/
